.main {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;


    position: relative;
    width: 100%;
    height: 855px;

    margin-top: 65px;

    &__texto {

        color: white;

        width: 450px;
        margin-left: 60PX;

        z-index: 1;

        &__titulo {

            font-size: 65px;
            letter-spacing: 1px;

        }

        &__subtitulo {

            font-size: 20px;

        }

    }

    &__fondo {

        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        overflow: hidden;

        width: 100%;
        height: 100%;

        border-radius: 0 0 2rem 2rem;

        &__img {

            height: 100%;
        }

    }

}

@media (max-width: 375px) {

    .main {

        &__texto {

            width: 280px;
            margin-left: 30PX;

            &__titulo {

                font-size: 38px;
                letter-spacing: 1px;

            }

            &__subtitulo {

                font-size: 20px;

            }

        }

        &__fondo {

            border-radius: 0 0 1rem 1rem;

        }

    }


}