.main {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;


    position: relative;
    width: 1280px;
    height: 780px;

    margin-top: 65px;

    &__texto {
        
        color: white;

        width: 450px;
        margin-left: 60PX;

        z-index: 1;

        &__titulo {

            font-size: 65px;
            letter-spacing: 1px;

        }

        &__subtitulo{

            font-size: 20px;

        }

    }

    &__fondo {

        position: absolute;
        overflow: hidden;

        width: 1280px;
        height: 780px;

        border-radius: 0 0 4rem 4rem;

        &__img {

            width: 100%;
        }

    }

}