.submain {

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    // margin: 40px 0px;

    &__tarjeta {

        display: flex;
        align-items: center;
        gap: 15px;

        width: 400px;

        &__texto {

            display: flex;
            flex-direction: column;
            gap: 5px;

            height: 100%;


            &__titulo {

                font-size: 20px;

            }

            &__subtitulo {

                font-size: 12px;

                & a {

                    font-size: 14px;
                    font-weight: 600;
                    color: black;

                    &:hover {

                        color: var(--color_primario);


                    }

                }

            }

        }

        &__img {

            width: 100px;
        }

    }

    &__separador {

        margin: 0px;

        width: 100px;
        height: 3px;
        background-color: black;
        opacity: 1;

        align-self: center;
        transform: rotate(90deg);


    }

}

@media (max-width: 768px) {

    .submain {

        align-items: center;
        flex-direction: column;
        gap: 20px;

        &__tarjeta {

            display: flex;
            align-items: center;
            gap: 15px;

            width: 70%;

            &__texto {

                display: flex;
                flex-direction: column;
                gap: 5px;

                height: 100%;


                &__titulo {

                    font-size: 20px;

                }

                &__subtitulo {

                    font-size: 12px;

                    & a {

                        font-size: 14px;
                        font-weight: 600;
                        color: black;

                        &:hover {

                            color: var(--color_primario);


                        }

                    }

                }

            }

            &__img {

                width: 100px;
            }

        }

        &__separador {

            width: 30%;

            transform: rotate(0deg);


        }

    }

}
@media (max-width: 425px) {

    .submain {

        &__tarjeta {

            width: 95%;

            
        }

        &__separador {

            width: 60%;

        }

    }

}